<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<div class="hero">
    <h2>Create new user</h2>
    <form th:action="@{/admin}" th:object="${user}" method="POST">
        <input type="hidden" th:field="*{id}">
        <label for="name1">Enter name: </label>
        <input type="text" th:field="*{name}" id="name1">
        <br><br>
        <label for="lastname">Enter surname: </label>
        <input type="text" th:field="*{lastName}" id="lastname">
        <br><br>
        <label for="roles">Roles</label>
        <select id="roles" th:field="*{roles}" multiple="multiple">
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">
                Role
            </option>
        </select>
        <br><br>
        <input type="submit" value="Create!">
    </form>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout!">
        </form>
    </div>
</div>
<!-- /.hero -->
</body>
</html>