<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body class="vh-100">
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid ms-auto">
        <span class="navbar-text text-light userinfo"></span>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout!" class="btn btn-link text-decoration-none text-secondary">
        </form>
    </div>
</nav>
<div class="row h-100">
    <div class="col-2 mt-3">
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action ms-2 bg-primary text-white border-0"
               href="/admin">Admin</a>
            <a class="list-group-item list-group-item-action ms-2 text-primary border-0" href="/user">User</a>
        </div>
    </div>
    <div class="col-10 bg-light px-5">
        <p class="h1 mt-4">Admin panel</p>
        <nav class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
               aria-controls="nav-home" aria-selected="true">Users table</a>
            <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
               aria-controls="nav-profile" aria-selected="false">New User</a>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active border" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="container-fluid border p-2">
                    <p class="h5 px-3">All users</p>
                </div>
                <div class="container-fluid border pt-3 pb-5 px-4 bg-white">
                    <table class="table border-top bg-white mt-2">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody class="userList"></tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="container-fluid border p-2">
                    <p class="h5 px-3">Add new user</p>
                </div>
                <!--New user form-->
                <form class="border bg-white d-flex justify-content-center align-items-center flex-column" id="addForm">
                    <div class="mb-3 mt-4 col-3 text-center">
                        <label class="form-label">First Name</label>
                        <input type="text" name="name" class="form-control" placeholder="First Name">
                    </div>
                    <div class="mb-3 col-3 text-center">
                        <label class="form-label">Last name</label>
                        <input type="text" name="lastName" class="form-control" placeholder="Last name">
                    </div>
                    <div class="mb-3 col-3 text-center">
                        <label class="form-label">Age</label>
                        <input type="text" name="age" class="form-control" placeholder="Age">
                    </div>
                    <div class="mb-3 col-3 text-center">
                        <label class="form-label">Email</label>
                        <input type="text" name="username" class="form-control" placeholder="Email">
                    </div>
                    <div class="mb-3 col-3 text-center">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="mb-3 col-3 text-center">
                        <label for="addRolesSelect" class="form-label">Roles</label>
                        <select multiple="multiple" class="form-control" id="addRolesSelect">
                        </select>
                    </div>

                    <div class="mb-3">
                        <button type="button" class="btn btn-success submitAddUser">Add new user</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="bg-white" id="editForm">
                    <div class="modal-body d-flex justify-content-center align-items-center flex-column"
                         id="editModalBody">
                        <input type="hidden" name="id">
                        <div class="mb-3 mt-4 col-4 text-center">
                            <label class="form-label">ID</label>
                            <input type="text" name="id" class="form-control" disabled>
                        </div>
                        <div class="mb-3 col-4 text-center">
                            <label class="form-label">First Name</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="mb-3 col-4 text-center">
                            <label class="form-label">Last name</label>
                            <input type="text" name="lastName" class="form-control">
                        </div>
                        <div class="mb-3 col-4 text-center">
                            <label class="form-label">Age</label>
                            <input type="text" name="age" class="form-control">
                        </div>
                        <div class="mb-3 col-4 text-center">
                            <label class="form-label">Email</label>
                            <input type="text" name="username" class="form-control">
                        </div>
                        <div class="mb-3 col-4 text-center">
                            <label class="form-label">Password</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div class="mb-3 col-4 text-center">
                            <label for="editRolesSelect" class="form-label">Roles</label>
                            <select multiple="multiple" class="form-control" id="editRolesSelect">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary submitEditUser" data-bs-dismiss="modal">Edit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="bg-white">
                    <div class="modal-body d-flex justify-content-center align-items-center flex-column">
                        <input type="hidden" name="id">
                        <div class="mb-3 mt-4 col-4 text-center">
                            <label class="form-label">ID</label>
                            <input type="text" name="id" class="form-control" disabled>
                        </div>
                        <div class="mb-3 col-4 text-center">
                            <label class="form-label">First Name</label>
                            <input type="text" name="name" class="form-control" disabled>
                        </div>
                        <div class="mb-3 col-4 text-center">
                            <label class="form-label">Last name</label>
                            <input type="text" name="lastName" class="form-control" disabled>
                        </div>
                        <div class="mb-3 col-4 text-center">
                            <label class="form-label">Age</label>
                            <input type="text" name="age" class="form-control" disabled>
                        </div>
                        <div class="mb-3 col-4 text-center">
                            <label class="form-label">Email</label>
                            <input type="text" name="username" class="form-control" disabled>
                        </div>
                        <div class="mb-3 col-4 text-center">
                            <label class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" disabled>
                        </div>
                        <div class="mb-3 col-4 text-center">
                            <label class="form-label">Roles</label>
                            <select multiple="multiple" class="form-control" id="deleteRolesSelect" disabled>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger submitDeleteUser" data-bs-dismiss="modal">Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/admin_panel.js}"></script>
</body>
</html>