<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<div class="hero">
    <h1 class="title">All user from Database</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Operations</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td>
                <a th:href="@{/admin/update(id=${user.id})}">
                    <button type="button"> Update user</button>
                </a>
                <a th:href="@{/admin/delete(id=${user.id})}">
                    <button type="button"> Delete user</button>
                </a>
            </td>
        </tr>
    </table>
    <button type="button" onclick="window.location.href = '/admin/new'">Add user</button>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout!">
        </form>
    </div>
</div>
<!-- /.hero -->
</body>
</html>