<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<div class="hero">
    <h2>Update user</h2>
    <form th:action="@{/admin/update}" th:object="${user}" method="POST">
        <input type="hidden" th:field="*{id}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name">
        <br>
        <label for="lastname">Enter surname: </label>
        <input type="text" th:field="*{lastName}" id="lastname">
        <br>
        <input type="submit" value="Update!">
    </form>
    <div sec:authorize="isAuthenticated()">
        <form  th:action="@{/logout}" method="post">
            <input type="submit" value="Logout!">
        </form>
    </div>
</div>
<!-- /.hero -->
</body>
</html>