<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>User info</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body class="vh-100">
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid ms-auto">
        <span class="navbar-text text-light userinfo"></span>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout!" class="btn btn-link text-decoration-none text-secondary">
        </form>
    </div>
</nav>
<div class="row h-100">
    <div class="col-2 mt-3">
        <div id="list-example" class="list-group">
            <div sec:authorize="hasRole('ADMIN')">
                <a class="list-group-item list-group-item-action ms-2 text-primary border-0"
                   href="/admin">Admin</a>
            </div>
            <a class="list-group-item list-group-item-action ms-2 text-white border-0 bg-primary" href="/user">User</a>
        </div>
    </div>
    <div class="col-10 bg-light px-5">
        <p class="h1 mt-4 mb-4">User information-page</p>
        <div class="container-fluid border p-2">
            <p class="h5 px-3">All users</p>
        </div>
        <div class="container-fluid border pt-3 pb-5 px-4 bg-white">
            <table class="table border-top bg-white mt-2">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody class="userInfo">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/user_info.js}"></script>
</body>
</html>