<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>My user info!</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    <tr>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
    </tr>
</table>
<div sec:authorize="isAuthenticated()">
    <form  th:action="@{/logout}" method="post">
        <input type="submit" value="Logout!">
    </form>
</div>
</body>
</html>